h1{
    font-size: 50px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    font-size: 40px;
}

h3{
    font-size: 30px;
}

h1,
h2,
h3 {
    font-family: serif;
}


#copyright {
    font-size: 30px;
    color: red;
}

.related-post{
    list-style: none;
}

.author-box{
    color:purple;
}

article ul li:nth-child(odd) {
    font-weight: bold;
    color : red;
}

a:link{
    color: pink;
}

a:visited{
    color: yellow;
}

a:hover{
    color: red;
}

a:active{
    color: green;
}



.container {
    width: 1200px;
    margin: 0 auto;
}

button{
    font-size: 20px;
    padding: 10px;
    cursor: crosshair;
    position: absolute;
    top: 500px;
    right: 500px;
}

header.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 20px solid rgb(133, 186, 255);
}

nav a {
    margin: 20px;
}

.row {
    display: flex;
    align-items: flex-start;
}

.author-box{
    order: -1;
}


.related-post {
    display: flex;
    gap: 20px;
}

article {
    flex: 1;
    margin-bottom: 0;
}

aside {
    background-color:lightgray;
    padding: 50px;
    border-top: 20px solid rgb(133, 186, 255);
    border-bottom: 20px solid rgb(133, 186, 255);
    width: 300px;

    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

    flex: 0;
}