h1{
    font-size: 100px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    font-size: 70px;
}

h3{
    font-size: 50px;
}

h1,
h2,
h3 {
    font-family: serif;
}


#copyright {
    font-size: 30px;
    color: red;
}

.related-post{
    list-style: none;
}

.author-box{
    color:purple;
}

article ul li:nth-child(odd) {
    font-weight: bold;
    color : red;
}

a:link{
    color: pink;
}

a:visited{
    color: yellow;
}

a:hover{
    color: red;
}

a:active{
    color: green;
}

aside {
    background-color:lightgray;
    padding: 50px;
    border-top: 40px solid rgb(133, 186, 255);
    border-bottom: 40px solid rgb(133, 186, 255);
}

.container {
    width: 1200px;
    margin: 0 auto;
}

button{
    font-size: 20px;
    padding: 10px;
    cursor: crosshair;
    position: absolute;
    top: 150px;
    right: 1000px;
}